#[derive(Clone)]
struct Book {
    title: String,
    author: String,
    isbn: String,
    is_issued: bool,
}

impl Book {
    fn new(title: &str, author: &str, isbn: &str) -> Self {
        Book {
            title: title.to_string(),
            author: author.to_string(),
            isbn: isbn.to_string(),
            is_issued: false,
        }
    }

    fn issue(self) -> Self {
        println!(
            "Issuing book: '{}' by {} (ISBN: {})",
            self.title, self.author, self.isbn
        );
        Self { is_issued: true, ..self }
    }
}

fn main() {
    let book = Book::new("Rust Programming", "John Doe", "123456789");
    
    println!(
        "Book Details: '{}' by {} (ISBN: {}), Issued: {}",
        book.title, book.author, book.isbn, book.is_issued
    );


    let issued_book = book.issue();


    println!(
        "After issuing: '{}' by {} (ISBN: {}), Issued: {}",
        issued_book.title, issued_book.author, issued_book.isbn, issued_book.is_issued
    );
}

