fn main() {
    
    let a: i32 = 10;
    let b: i32 = 3;


    let addition = a + b;
    let subtraction = a - b;
    let multiplication = a * b;
    let division = a / b;
    let modulo = a % b;

    
    println!("Addition: {} + {} = {}", a, b, addition);
    println!("Subtraction: {} - {} = {}", a, b, subtraction);
    println!("Multiplication: {} * {} = {}", a, b, multiplication);
    println!("Division: {} / {} = {}", a, b, division);
    println!("Modulo: {} % {} = {}", a, b, modulo);
}

