fn main() {

    let integer: i32 = 32;
    let floating_point: f64 = 3.14;    
    let boolean: bool = true;         
    let character: char = 'R';          

   
    println!("Integer: {}", integer);
    println!("Floating-point: {}", floating_point);
    println!("Boolean: {}", boolean);
    println!("Character: {}", character);
}

